<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">

    <div class="card">
        <div class="header">
            <h2>
                Label <small>Description text here...</small>
            </h2>
            <div class="pull-right">
                <a th:href="@{/labels/create}" class="btn btn-primary">CREATE NEW</a>
                <a th:href="@{/labels}" class="btn btn-primary">All Labels</a>
            </div>
        </div>

        <div class="body">
            <div th:include="labels/forms/create"></div>
        </div>

    </div>

</div>
</html>
